
<header>    
    <div class="navbar">
        <div>
            <a href="{{ path('Accueil') }}">Accueil</a>
        </div>
        <div>
            <a href="{{ path('Recipes page') }}">Recette</a>
        </div>
        <div>
            <a href="{{ path('Social page') }}">Social</a>
        </div>
        <div>
            <a href="{{ path('User profil page') }}">Profil</a>
        </div>
        <div>
            <a href="{{ path('User deconnection system') }}">Déconnexion</a>
        </div>
        <div>
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
    </div>
</header>